body{
    background-color: #d5fff9; 
    font-family:"Roboto", sans-serif;
    margin: 50px 250px auto;
    align-items: center;
    font-size: 16px;
}
.weather-app{
    background-color: white;
    max-width: 600px;
    margin: 45px auto; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 20px 20px 20px #acdad3;
}
header{
    font-size: 20px;
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
footer{
font-size: 13px;
align-items: center;
}
.weather-details{
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-color:#190019;
    display: flex;
    justify-content: space-between;
}
.city-submit{
    background-color:  #179e8c;
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 16px;

}
.city-submit:hover{
    background-color: #016969;
}
.city-input{
    background-color: #d5fff9;
    border-width: 1px;
    border-color:#acdad3;
    padding: 5px 5px;
    color: #190019;
    border-radius: 4px;
    width: 80%;
    font-size: 16px;
}
.button div{
    height: 50px;
    width: max-content;
    display:flex;
    justify-self: right;
}


.dark-mode-button{
    border-color: #002222;
    border-width: 0.5px;
    border-radius: 4px;
    color: #330033;
    background-color: #f2e5f2;
    align-self: right;
}
.dark-mode-button:hover{
    background-color: #016969;
    color: #f2e5f2;
    border-radius: 4px;
}

.accent{
    color: #098f8a;
    font-weight: 700;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}