body{
    background-color: #CBC3E3; 
}
.weather-app{
    background-color: white;
    max-width: 600px;
    margin: 30px 0 auto; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 20px 20px 20px #BDB5D5 ;
}
header{
    font-size: 20px;

}
footer{
font-size: 12px;
align-items: center;
}
.city-submit{
    background-color:  #c527ec;
    border-width: 0px;
    border-radius: 4px;
    padding: 5px 20px;

}
.city-input{
    background-color: #CBC3E3;

}